.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Message*/

.message {
  background: white;
  border-left: 1rem solid #8a8a8a;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  display: flex;
  font-family: Helvetica;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem auto;
  width: 25rem;
}

.message-type-success {
  border-color: #008554;
}

.message-type-warning {
  border-color: #ffc627;
}

.message-type-error {
  border-color: #d14229;
}

.message-category {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-transform: capitalize;
}

.message-text {
  margin-bottom: 0;
}

.message-button {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin-left: 1rem;
  opacity: 0.5;
  padding: 0;
}

#container-message {
  top: 4%;
  position: absolute;
  width: 100%;
  z-index: 10000;
}

